sqlalchemy
alembic
psycopg[binary]
python-jose
passlib[bcrypt]
pydantic-settings
python-multipart

passlib==1.7.4
bcrypt==4.1.2

fastapi
uvicorn
pandas
numpy
scikit-learn
catboost
shap
supabase
xgboost
lifelines
joblib

transformers
torch
huggingface_hub
safetensors
