sqlalchemy
alembic
apscheduler
psycopg[binary]
python-jose
passlib[bcrypt]
pydantic-settings
python-multipart

passlib==1.7.4
bcrypt==4.1.2

fastapi
uvicorn
pandas
numpy
scikit-learn
catboost
shap
supabase
xgboost
lifelines
joblib

transformers
torch --index-url https://download.pytorch.org/whl/cpu
huggingface_hub
safetensors
groq
nltk
sentence-transformers
